name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run main Python script and Lint with flake8
      run: |
        # Run your main script
        python GPA-Mangemant-System-In-Python/V3.1/V3.1.py
        
        # Lint for critical errors
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

        # Run a more relaxed lint check
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: GPA-Mangemant-System-In-Python/V3.1/V3.1.py
        pytest
